@page
@model Exercises.Pages.Lesson1.Assignment3

@{
    Layout = null;
}
<h1>Test</h1>
<div>
    <p id="result">@Model.Result</p>
</div>

<form method="post" id="calculatorForm">
    <input type="hidden" name="result" value="@Model.Result">
    <input type="number" id="input" name="input">
    <button name="addBtn" 
            id="addBtn" 
            type="submit" 
            asp-page-handler="Add" 
            method="POST">+</button>
    <button name="subBtn" 
            id="subBtn" 
            type="submit" 
            asp-page-handler="Sub"
            method="POST">-</button>
    <button name="mulBtn" 
            id="mulBtn" 
            type="submit" 
            asp-page-handler="Mul"
            method="POST">*</button>
    <button name="divBtn" 
            id="divBtn" 
            type="submit" 
            asp-page-handler="Div"
            method="POST">/</button>
</form>


